main {
  height: 100vh; /* O la altura de la pantalla */
  overflow-y: scroll; /* Siempre permitir el scroll vertical */
}

.products-section {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  