.contact-us {
  font-family: 'Noto Sans', sans-serif;
  padding: 40px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.contact-us h1 {
  color: #081057;
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.contact-us p {
  color: #444;
  max-width: 600px;
  text-align: center;
  margin-bottom: 40px;
}

/* Información de contacto */
.contact-info {
  text-align: center;
  width: 100%;
}

.info-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.info-item {
  background-color: #081057;
  padding: 25px;
  border-radius: 12px;
  border: 3px solid transparent;
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-item p {
  color: #e0e0e0;
  margin: 0;
}

.info-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.info-item::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  background: linear-gradient(45deg, #081057, #3686FF, #6fa1ed);
  border-radius: 50%;
  animation: rotateBorder 6s linear infinite;
  z-index: -1;
}

/* Formulario de contacto */
.contact-form {
  margin: 50px 0;
  width: 100%;
  max-width: 500px;
}

.contact-form form {
  display: grid;
  grid-gap: 15px;
  padding: 30px;
  background-color: #3686FF;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.contact-form label {
  font-weight: bold;
  color: #f0f0f0;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  outline: none;
  background-color: #f7f7f7;
  transition: box-shadow 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.contact-form button {
  padding: 12px 20px;
  background-color: #081057;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
  background-color: #D0B8A8;
  transform: scale(1.05);
}

/* Redes sociales */
.social-media {
  text-align: center;
  margin-top: 50px;
}

.social-icons a {
  margin: 0 15px;
  color: #C5705D;
  font-size: 1.7rem;
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  color: #D0B8A8;
  transform: scale(1.1);
}

/* Mapa de Google */
.map-container {
  margin: 50px 0;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  border: 2px solid #C5705D;
}
