:root {
    --primary-color: #F6BD3B;
    --second-color: #0c3762;
    --third-color: #222020a2;
    --font-color: #080808;
    --error-color: #e8f885;
    --bacground-color: #100f0b;
    --bacground-color1: #FFF;
    --background-color: var(--bacground-color);
  }
  
  .FormLogin {
    width: 100%;
    border-radius: 8px;
    background-color:transparent;
    color: black;
    border-width: 1.5px;
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .ContentFormLogin {
    width: 100%;
    border-color: var(--second-color);
    color: black;
    border-width: 1.5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgLogin{
    width: 40rem;
    height: 40rem;
    margin-left: 10px;
    border: solid red;
  }

  .inputIcon{
    display: flex;
    align-items: right;
    text-align: right;
    /*line-height: 2px;*/
    gap: 1px;
  }

  .iconUser, .iconPassword{
      margin-top: -1rem;
      margin-right: -1rem;
      margin-left: 3rem;
  }
  
  .encabezado-login {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }


  input[type="text"], input[type="password"]{
    padding: 20px;
    background-color: #ffffff90;
    border: 1px solid #cccccc7f;
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--bacground-color);
    outline: none; 
    display: flex;
  }
  
  input::placeholder{
    color: #4d4d4e;
    opacity: 0.9;
  }
  
  .titleLogin{
    padding: 5px;
    margin-bottom: 25px;
    text-align: center;
    color: #081057;
  }

  #email{
    width: 80%;
    align-items: center;
    font-size: 16px;
    margin: 0 30px;
    margin-bottom: 15px;
  }

  #password{
    width: 80%;
    margin: 0 30px;
    margin-bottom: 2px;
    font-size: 16px;
    margin-bottom: 15px;
  }

  #send-info-user {
    width: 50%;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    border-radius: 60px;
    cursor: pointer;
    outline: none;
    color: #081057;
  }

  .button_Send:hover{
    background-color: var(--primary-color);
    color: #2c2c2c;
  }

  .buttonAction{
    display: flex;
    flex-direction: initial;
    margin-right: 21rem;
    padding-right: 3rem;
    gap: 2rem;
  }
  
  .error {
    margin: 2rem;
    font-size: 2px;
    text-align: center;
    color: var(--error-color);
    font-style: bold;
  }
  .signup-link {
    color: #e48811; /* Color del texto */
  }

  .signup-link:hover{
    color: #0c3762;
  }

  .no-account{
    text-align: center;
    align-items: center;
    width: 300px;
  }

  .account{
    font-size: 10px;
  }

/* Media query para pantallas medianas entre 400px y 767px */
@media (min-width: 401px) and (max-width: 767px) {
  .FormLogin {
    max-width: 800px;
    padding: 15px;
    margin: 2rem auto;
  }

  .button_Send {
    max-width: 150px;
    margin: 0 auto;
  }

  .FormLogin h1 {
    font-size: 20px;
    text-align: center;
  }

  .ContentFormLogin{
    border: none;
  }

  .buttonAction {
    flex-direction: column;
    gap: 0.5rem; 
  }

  .imgLogin {
    display: none; /* Oculta la imagen en pantallas pequeñas */
  }
}

/* Media query para pantallas grandes (desde 768px en adelante) */
@media (min-width: 768px) {
  .FormLogin {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 80vh;
  }

  .ContentFormLogin {
    max-width: 100%;
    padding: 0 10rem;
    margin: 0 20rem;
    text-align: center;
    align-items: center;
    gap: 2px;
  }


  .FormLogin h1 {
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
  }

  .buttonAction {
    gap: 1rem;
    flex-direction: row;
  }

  .no-account{
    width: 100%;
    font-size: 2px;
    margin-left: 5rem;
    padding-left:0.5rem ;
  }

  .account{
    margin-left: 7rem;
  }
}

/* Media query para pantallas pequeñas (máximo 400px) */
@media (max-width: 400px) {
  .FormLogin {
    width: 100%;
    margin: 3rem auto;
    padding: 10px;
    display: block;
    height: auto;
  }

  .FormLogin h1 {
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
  }

  .button_Send {
    font-size: 12px;
    padding: 8px;
  }

  .buttonAction {
    flex-direction: column;
    gap: 1rem;
  }

  
}